.navbar {
    padding: 0% 02% 0% 02%;
    background-color: rgb(89, 212, 109);
}

.nav-item a {
    padding: 0 18px;
    color: white;
    font-size: larger;
}



#carouselExampleControls{
    /* width: 100%;
    height: 50rem; */
    display: block;
    align-items: center;
    
}

/* .carousel-item{
    width: 75%;
    height: 75%;
} */

/* .carousel-inner img{
    width: 50%;
    height: auto;
} */