    .navbar {
        padding: 0% 02% 0% 02%;
        background-color: rgb(89, 212, 109);
    }
    
    .nav-item a {
        padding: 0 18px;
        color: white;
        font-size: larger;
    }
    
    #carouselExampleControls {
        /* width: 100%;
    height: 50rem; */
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        padding: 15%;
    }
    
    .carousel-item {
        padding: 0.5% 2% 0% 2%;
    }
    
    #abc {
        /* text-align: center; */
        color: white;
        position: relative;
    }
    
    .abcd {
        width: 100%;
        height: 35vmax;
        /* border-radius: 100%; */
        /* margin: 20%; */
    }

    #pricing{
        padding: 100px;
        text-align: center;
    }

    .pricing-column{
        padding: 3% 2%;
    }

    .bottom-container{
        color:green ;
        padding: 50px 0 20px;
        background-color: rgb(185, 185, 185);
        text-align: center;
     
     }

     .footer-link{
        padding: 0 1% 0 1%;
        color: brown;
     }

     